body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  /* background-color: #000000; */
}

html {
  scroll-behavior: smooth;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Style content over the video */
.content {
  position: relative;
  z-index: 1;
  color: white;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}

h1 {
  font-size: 5rem;
  color: #eeeeee;
}

.self-intro {
  font-size: 3rem;
}

h2 {
  color: #fafb63;
  font-size: 3rem;
}

/* Navbar */
#navbar {
  background-color: #000000 !important;
  color: #f7f2ea;
}

#my-name {
  color: #ffcc00;
  font-size: 2.5rem;
  text-shadow: 0 0 5px rgba(255, 204, 0, 0.5), 0 0 10px rgba(255, 204, 0, 0.5),
    0 0 15px rgba(255, 204, 0, 0.5);
}

#nav-logo:hover {
  text-decoration: none !important;
  transform: none !important;
  color: #f7f2ea !important;
}

#navbar a {
  color: #f7f2ea;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}

#navbar a:hover {
  color: #fafb63;
  text-decoration: underline;
  transform: scale(1.25);
}

/* Landing */
#landing {
  padding: 2rem 1rem;
}

#landing .container {
  max-width: 100%;
}

#landing img {
  max-width: 100%;
  height: auto;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.static {
  color: #f7f2ea;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
}

.dynamic {
  margin-top: 15px;
  line-height: 1.5;
  height: 90px;
  overflow: hidden;
}

.dynamic li {
  list-style: none;
  color: #fafb63;
  font-size: 60px;
  font-weight: 500;
  top: 0;
  position: relative;
  /* animation: slide 12s steps(4) infinite; */
  animation: slide 15s steps(4) infinite;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-360px);
  }
}

.dynamic li {
  position: relative;
}

.dynamic li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-left: 2px solid #fafb63;
  animation: typing-animation 4s steps(13) infinite;
}

@keyframes typing-animation {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

#landing p {
  color: #f7f2ea;
}

#full-stack {
  display: inline-block; /* Ensures padding only applies around the text */
  background-color: rgba(250, 251, 99, 0.7);
  padding: 0px 15px;
  margin: px;
  color: #000000;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px; /* Adds space between letters */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.social-icon {
  width: 60px;
  height: 60px;
  filter: invert(1);
}

.social-icon:hover {
  transform: scale(1.2);
}

.custom-btn a {
  text-decoration: none;
  color: #000000;
}

.custom-btn {
  background-color: #ff6f61;
  border: none;
  padding: 12px 24px;
  font-size: 1.25rem;
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #5d0f10;
  outline: none;
}

.profile-video {
  height: 70%;
}

/* Projects */

.carousel-wrapper {
  height: 100%;
  padding: 20px;
}

.carousel {
  max-width: auto;
  width: 80%;
  height: 100%;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f7f2ea;
}

.carousel-item img {
  border-radius: 0.5rem;
}

/* Tools */

#tools {
  /* background-color: #001c30; */
  padding: 2rem;
}

#tools .container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#frontend-img {
  background-image: url(./images/frontend.png);
}

#mern-img {
  background-image: url(./images/mern.png);
}

#other-tools-img {
  background-image: url(./images/other-tools.png);
}

.tools-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.3s ease;
  filter: grayscale(1);
}

.tools-img:hover {
  filter: brightness(1.8);
}

.tools-img .card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tools-caption {
  padding: 50px;
  margin: 50px;
  text-align: center;
  color: #4fc3f7;
}

.bg-dark-overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-shadow-1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.form-label {
  color: #f7f2ea;
}

.form-btn {
  background-color: #ff6f61;
  color: #5d0f10;
}

#visit-heading {
  color: #f7f2ea;
}

#map iframe {
  width: 100%;
  top: 0;
  left: 0;
  height: 450px;
  border: 0;
  max-width: 100%;
  position: absolute;
  filter: invert(2);
}

.map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
  border: 0;
  max-width: 100%;
}

form {
  background-color: rgba(255, 111, 97, 0.1);
  padding: 3rem;
}

.form-label {
  font-weight: 600;
}

/* Footer */
footer {
  background-color: #000000;
  color: #f7f2ea;
}
